# Se excluyen las siguientes extensiones
*.acm
*.ovpn
*.kdbx
*.copia
*.save
*.mp4
*.mp3
*.pub
*.pdf

# se excluyen los nombres
id_rsa
links.txt

# se excluyen directorios de python
__pycache__/
venv*/


# se excluyen directoroios de vscode
.vscode/


